body {
	background-color: pink;
}

input {
	float : center;
}
button{
	height: 100px;
	width: 100px;
	border: 1px solid black;
	float:left;
	margin-right: 5px;
	text-align: center;
	background-color: grey;

	/*For a different pointer*/
	cursor: pointer;
}

#clear {
	background-color : red;
}

#equals {
	background-color: green;
}

/*magic*/
button:hover{ 
	box-shadow: 0 0 10px rgba(0, 50, 250, 0.6); 
}

#input{
	float: right;
	font-size: 35px;
	margin-right: 5px;
}

.row{
	display:inline-block;
	margin-bottom: 5px;
	margin-left: 80px;
}

input{
	height: 100px;
	width: 412px;
	border: 1px solid black;
	margin-left: 80px;
	margin-bottom: 10px;
	font-size:35px;
	text-align: right;

	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.wrapper{
	height: 600px;
	width: 600px;
	margin: 0 auto;
	margin-top: 50px;
	/*border: 1px solid red;*/
}

